@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: aqua;
}

.works-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-work{
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 2rem;
    width: 5rem;
    cursor: pointer;
}

.button-work-2{
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 2rem;
    width: 10rem;
    cursor: pointer;
    margin-right: 1rem;
}

.button-work-1{
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 2rem;
    width: 10rem;
    cursor: pointer;
    margin-right: 1rem;
}

.button-work-return{
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 2rem;
    width: 5rem;
    cursor: pointer;
    margin-right: 1rem;
}